<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.springbootequipmentmanager.equipmentmanager.user.mapper.FactoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.springbootequipmentmanager.equipmentmanager.user.entity.Factory">
        <id column="fac_id" property="facId" />
        <result column="fac_name" property="facName" />
        <result column="fac_addr" property="facAddr" />
        <result column="fac_phone" property="facPhone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fac_id, fac_name, fac_addr, fac_phone
    </sql>

</mapper>
