<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.springbootequipmentmanager.equipmentmanager.user.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.springbootequipmentmanager.equipmentmanager.user.entity.Feedback">
        <id column="fee_id" property="feeId" />
        <result column="user_id" property="userId" />
        <result column="fee_question" property="feeQuestion" />
        <result column="fee_detail" property="feeDetail" />
        <result column="adm_message" property="admMessage" />
        <result column="adm_answer" property="admAnswer" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fee_id, user_id, fee_question, fee_detail, adm_message, adm_answer, del
    </sql>

</mapper>
